# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore datasets and large model files
Model/Dataset/
*.pt
*.csv

# Ignore VS Code settings
.vscode/

# Ignore system files
.DS_Store
Thumbs.db
